/* src/components/ContactPage.css */

.contact-page {
    background-color: #0b6b85;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .contact-page h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #005367;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #0b6b85;
  }
  